<!-- Navbar -->
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="logo-sidebar"
          aria-expanded="false"
          (click)="toggleSidebar()"
        >
          <span class="sr-only">Open sidebar</span>
          <!-- Icon for menu -->
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <!-- Logo -->
        <a class="flex ms-2 md:me-24">
          <img src="img/logo-trans.png" class="h-8 me-3" alt="Logo" />
          <span
            class="self-center text-xl font-bold sm:text-2xl whitespace-nowrap bg-gradient-to-r from-yellow-400 via-yellow-500 to-yellow-600 bg-clip-text text-transparent"
          >
            DSS-MS
          </span>
        </a>
      </div>

      <!-- User Profile -->
      <div class="relative flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300"
              aria-expanded="false"
              (click)="toggleUserMenu()"
            >
              <span class="sr-only">Open user menu</span>
              <img
                src="img/logo-trans.png"
                class="w-8 h-8 rounded-full"
                alt="A"
              />
            </button>
          </div>
          <!-- User dropdown -->
          <div
            id="dropdown-user"
            class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow absolute top-7 -right-2 w-52"
            [ngClass]="{ hidden: !isUserMenuOpen }"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900">
                {{ authUser?.displayName || "Admin" }}
              </p>
              <p class="text-sm font-medium text-gray-900 truncate">
                {{ authUser?.email }}
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
                  (click)="handleLogout()"
                >
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform bg-white border-r border-gray-200"
  [ngClass]="{ '-translate-x-full': !isSidebarOpen, 'sm:translate-x-0': true }"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
    <ul class="space-y-2 font-medium">
      <li *ngFor="let item of sidebarItems">
        <a
          [routerLink]="item.link"
          routerLinkActive="bg-gray-100"
          class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
        >
          <!-- Icon for each item -->
          <i [ngClass]="item.icon"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">{{ item.name }}</span>
          <!-- <span
            *ngIf="item.badge"
            class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full"
            >{{ item.badge }}</span
          > -->
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64 h-full flex flex-col">
  <div class="p-4 rounded-lg mt-10 flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
