<div class="todo-container">
  <h1>Todo List</h1>

  <!-- Add Todo Form -->
  <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
    <div class="add-todo">
      <input type="text" placeholder="Enter title" formControlName="title" />
      <input
        type="text"
        placeholder="Enter description"
        formControlName="description"
      />
      <button type="submit" [disabled]="!todoForm.valid">Add</button>
    </div>
  </form>

  <!-- Display Validation Errors -->
  <div
    *ngIf="
      todoForm.controls['title'].invalid && todoForm.controls['title'].touched
    "
  >
    <small *ngIf="todoForm.controls['title'].hasError('required')">
      Title is required.
    </small>
    <small *ngIf="todoForm.controls['title'].hasError('minlength')">
      Title must be at least 3 characters.
    </small>
  </div>

  <!-- Todo List -->
  <ul>
    <li *ngFor="let todo of todos">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleCompletion(todo)"
      />
      <div class="todo-title">
        <span [ngClass]="{ completed: todo.completed }">{{ todo.title }}</span>
      </div>
      <div class="todo-description">
        <span class="description" [ngClass]="{ completed: todo.completed }">
          {{ todo.description }}
        </span>
      </div>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>
</div>
